:root{
    --blue: #2a90e4;
}

*{
    box-sizing: border-box;
    margin: 0; padding: 0; outline: 0; border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    height: 100vh;
    overflow: hidden;
}

a{
    text-decoration: none;
    color:#fff;
}

i{
    cursor: pointer;
}

img{
    height: 40px;
    border-radius: 50%;
}

.img-med{
    height: 60px;
}

#container{
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 4fr;
}

/* SIDEBAR */

#logo{
    font-size: 1.6rem;
    color: #fff;

}

#sidebar{
    grid-area: 1 / 2 / 3 / 1;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 18px;
    height: 100%;
    background: var(--blue);
}

.stack{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.side-item{
    display: flex;
    gap: 15px;
    height: 15px;
    text-align: center;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.side-item > i{
    height: 20px;
    width: 20px;
}

/* NAVBAR */

#navbar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 30px;
    grid-area: 1 / 3 / 2 / 2;
    background: #fff;
    border-bottom: 3px solid rgba(0,0,0,.1);
}

#navbar > div{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    gap: 10px;
}


#search-bar{
    width: 60%;
}

#search-bar > i{
    font-size: 1.1rem;
}

#search-bar > input{
    width: 100%;
    height: 32px;
    border-radius: 30px;
    background: #eee;
    padding: 2px 12px;
    border: 1px solid #eee;
}

#search-bar > input:focus{
    border: 1px solid rgba(200,200,200,1);
}


.upper > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 1.2rem;
}

#profile{
    cursor: pointer;
}


.lower > div{
    width: 100%;
    display: flex;
    gap: 20px;
}

.buttons{
    justify-content: end;
}

.btn-blue {
    background: var(--blue);
    color: #fff;
    border-radius: 20px;
    padding: 8px 24px;
    font-size: 1rem;
}

.btn-blue:hover{
    cursor: pointer;
    background: #067bdb
}

.greetings {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
}

.greetings > h2{
    font-size: 1.3rem;
}

/* NESTED GRID */

#box-container{
    grid-area: 2 / 3 / 3 / 2;
    background: #dadae7;
    height: 100%;
    padding: 24px;
    display: grid;
    grid-template: 1fr 1fr / 3fr 1.2fr;
    gap: 10px;
}

#projects{
    grid-area: 1 / 2 / 3 / 1;
    
    padding: 0 20px 0 0;
}

#announcements{
    grid-area: 1 / 3 / 2/ 2;
    margin-bottom: 8px;
}

#trending{
    grid-area: 2 / 3/ 3 / 2;
}

.card{
    margin-top: 8px;
    font-size: .8rem;
    background: #fff;
    border-radius: 5px;
}

/* PROJECTS */

#project-grid{
    margin-top: 9px;
    gap: 24px;
    height: 92%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3fr, minmax(1fr, 100px));

}

.project{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background: #fff;
    font-size: .8rem;
    color: #555;
    border-radius: 10px;
}

.project > div > h3{
    color: #000;
    margin-bottom: 4px;
}

.icons{
    display: flex;
    justify-content: end;
    gap: 15px;
    font-size: 1.1rem;
    cursor: pointer;
    color: #000;
}

/* ANNOUNCEMENTS */

#announcements-box{
    display: flex;
    flex-direction: column;
    padding: 10px 24px;
}

.article-item{
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 10px 0;
    border-bottom: 1px solid rgba(200,200,200,.8);
    color: #666;
}

#announcements-box > .article-item:last-child{
    border-bottom: 0px;
}

.article-item > .title{
    color: #000;
    text-transform: capitalize;
    font-weight: 600;
    width: 100%;
}

.title:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* TRENDING  */

#trending-grid{
    display: grid;

    grid-template-rows: repeat(auto-fit, 1fr);
    padding: 10px;
}

.user-item{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: #666;
    border-radius: 10px;
}

.user-item:hover{
    background: #eee;
    cursor: pointer
}

.username{
    color: #000;
    font-weight: 700;
}